@font-face {
    font-family:i;
    src: url();
}
/* body{
    height: 4000px;
} */
:root{
--primary:#eebf00;
--secondarry:#232b38;
--ternary:#6c6c6c;
--danger:#fe4545;
--pure:#fefefe;
--light:#f0f0f0;
--heaven:#ffffff;
--footer:#2d333f;

}
.user{
    width:20px;
    height:20px;
    
}
.edit{
    width:20px;
    height:20px;
}
.face{
    width: 20px;
    height: 20px;
    
}
.twitter{
    width: 20px;
    height: 20px;
}
.google{
    width: 20px;
    height: 20px;
}
.cart{
    width: 20px;
    height: 20px;
}
.call{
    width: 20px;
    height: 20px;
}
.clock{
    width: 20px;
    height: 20px;  
}
.icons{
    padding-top: 12px;
}
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topbar{
    background-color:rgb(16, 16, 16);
    width: 100%;
    }
.container{
    width: 100%;
    padding:15px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
    justify-items: center;
   
    
}
.container5{
    width: 100%;
    padding:15px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
    justify-items: center;
   
    
}
.container1{
    display: flex;
    flex-direction: column;
}
.text-color{
    color: aliceblue;
}
.m1{
     display: flex;
     flex-direction: row;
     /* padding: 0 0 0 10px; */
     white-space: nowrap;
     justify-content: center;
     }
    .m2{
        display: flex;
        justify-content: center;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .m2:hover{
       color: #2d333f;
       background-color: #3c2626;
       
    }
    .meal{
        width: 100px;
        height: 100px;
    } 
nav .navbar a{

    text-decoration: none;
    font-size: 1rem;
    padding: 1.5rem;
}
 nav .navbar a:hover{
    background-color:#eebf00 ;
    color: #f0f0f0;
    justify-content: space-around;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
 }
 .mealimg {
    
        width:35px;
 }
    
    .hero{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       
        
    } 
    .background-Image{
        width: 100%;
        height: 100vh;
        background-image: url(../images/forbg.jpg);
        background-repeat: no-repeat;
      
    } 
    
    

section.welcome{
    text-align: left;
}
section h1{
color: #232b38;
font-size: 2.5rem;
margin-bottom: 0.75rem;
}
 span{
    color: #a18514;
}
.container2{
    width: auto;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    justify-items: center;
  
}   

.p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: ; */
    line-height: 1.5;
    height: 6%;
}

.btn-primary{
    background-color: #eebf00;
    color: #e3d4d4;
    border-radius: 4px;
padding: 0.5rem 0.75rem;
border: none;
line-height: 0.8;
font-size: 1.2rem;
cursor: pointer;
transition: all 0.3s ease;
border: 1px solid transparent;

}
.btn-primary:hover{
    background-color:#ffffff ;
    color:#eebf00 ;
    border: 2px solid #eebf00 ;
}
.btntwo{
    background-color: #232b38;
    
    color: #eebf00  ;
    border-radius: 4px;
padding: 0.5rem 0.75rem;
border: none;
line-height: 0.8;
font-size: 1.2rem;
cursor: pointer;
transition: all 0.3s ease;
border: 1px solid transparent;
}
.btntwo:hover{
    background-color: #ffffff;
    color: #eebf00 ;
    border: 2px solid #ffffff;
}
.btn-primary:first-child{
    margin: 0.50rem;
}
.salad{
    position: relative;
    top:60px;
    right: 40px;
}
*{
    margin: 0;
    padding: 0;
    margin-bottom: 0.75px;
    box-sizing: border-box;
}
.swiper {
    width: 50%;
    position: relative;
   
}

 section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #eebf00;
    height: 10vh;
    display: flex;
    align-items: center;
 }
 section .card .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border:3px solid #ffff;
    display: flex;
 }
/* .card{
    background: #fff;
    border-radius: 10px;
} */
.card{
    position: relative;
    background: #fff;
    
}
 .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
 }
 .card .button{
    width: 100%;
display: flex;
justify-content: space-around;
margin-top: 20px;
 }
 .card .button button{
    background: #eebf00;
    outline:none;
    border: none;
    color: black;
    border-radius: 45px;
padding: 0.5rem 0.75rem;
font-size: 10px;
transition: all 0.3s ease;
cursor: pointer;
 }
 .button button:hover{
    background: #d2c9a8;
    color: #eebf00;
 }
.top-product{
    text-align: center;
    /* margin-top: 15%; */
    background: #eebf00;
}
.swiper-button-next{
     position: absolute;
     /* right: 10%; */
     z-index:4;
    
}
  .section-heading{
    text-align: center;
    margin-bottom: 2rem;
  }
  .btn-btn{
    background: #232b38;
    color: #e3d4d4;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
border: none;
line-height: 0.8;
font-size: 1.2rem;
margin-top: 2rem;
}
.btn-btn:hover{
    color: #eebf00;
} 
.about-meal-wrap{
    display: flex;
    margin-top: 4%;
    
  }
  .about-meal{
    margin-top: 3%;
  }
  section.about-meal img{
    width: 90%
  }
  .flex-1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .aboutimg{
margin-left: 10rem;
margin-bottom: 2rem;
box-shadow: 10px 10px 5px rgb(165, 216, 176);
}


  section.about-meal h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    color: #232b38;
    margin-bottom: 2rem;
    line-height: 1.3;
}
section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-heading1{
     margin-top: 2%;
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
    font-size: 4rem;
}
.our-services{
    background: #eaeaec;
    padding-top: 10px;

  }
  .transport{
    width: 100px;
    height: 100px;
  }
  .card-wrapper{
    width: 20%;
    background: #bc3030;
    border-radius: 4px;
    padding: 2rem;
    border: 4px solid rgb(220, 209, 209);
    /* margin: auto; */
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
   
   margin-left: 18rem;
  }
  .card-wrapper2{
    width: 20%;
    background: #bc3030;
    border-radius: 4px;
    padding: 2rem;
    border: 4px solid rgb(220, 209, 209);
    /* margin: auto; */
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
   
  }
  .card-wrapper3{
    width: 20%;
    background: #bc3030;
    border-radius: 4px;
    padding: 2rem;
    border: 4px solid rgb(220, 209, 209);
    /* margin: auto; */
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
   margin-right: 18rem;
  
  }
 .Services-cart{
    text-align: center;
   
    display: flex;
    flex-direction: column;
    padding-top: 20px;
 }  
   
    /* padding-top: 50px;
    */
   
 
.transport1{
    top: -50px;
  left: 30%;
    position: absolute;
    margin-left: 1rem;

    /* top: -40%; */
}
.card1{
    display: flex;
     justify-content: space-between;
     margin-top: 5%;
     padding-bottom: 6%;
}
.pragraph{
color: #efd8d8;
}  
.text-h2{
    color: #eebf00;
}
.btn-btn-2nd{
color: #eebf00;
padding: 0.5rem 0.75rem;
border: none;
line-height: 0.8;
font-size: 1.2rem;
cursor: pointer;
transition: all 0.3s ease;
border: 1px solid transparent;
}
.heading2{
    text-align: center;
    font-size: 60px;
    color: #eaeaec;
}
.timer{
display: flex;
width: 100%;
margin-left: 20%;
margin-right: 20%;
    text-align: center;
    justify-content: space-around;
     margin-top: 2%;
}
.timer div{
  margin-bottom: 4%;
 
    background: #eebf00;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: space-around;
}
.digit{
    color: azure; font: 4em sans-serif; 
}
.num{
    color: rgb(9, 9, 9); font: 1.3em sans-serif;
}
.big-deal{
    padding-top: 2%;
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
        ),url(../images/img7.jpeg);
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .h3{
        
        text-align: center;
    font-size: 60px;
    color: #0a0a0b;
    margin-top: 4rem;
    margin-bottom: 2rem;
    }
    p{
        text-align: center;
    }
    .donuts{
        width: 40%;
    margin-left: 10rem;
    margin-top: 2rem;
    }
    .dnt{
        text-align: center;
        margin-bottom: 1rem;
    }
    .latest-news{
        background: var(--light);
        /* border-radius: 2rem; */
        position: relative;
        z-index: 0;
    }
    .artical-wrapper{
        display: flex;
        margin-right: 2rem;
        }
        .card3{
            position: relative;
            background: #fff;
            margin-left: 15rem;
            margin-right: 1rem;
           
        }
        
        .card4{
            position: relative;
            background: #fff;
           margin-left: 2rem;
            margin-right: 15rem;
            
        }
    .coffee{
        width:35%;
        margin-left: 10rem;
    margin-top: 2rem;
    }
    .cffe{
        text-align: center;
        margin-bottom: 1rem;
    }
    .cnt{
        margin-bottom: 4rem;
    }
    
    .card-content{
        padding: 2rem;
    }
    .post-meta{
    text-align: center;
    
    }
    .date{
        /* margin-right: 7rem; */
        margin-bottom: 1rem;
        text-align: center;
        
    }
    .cmmnt{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .date1{
        color: #232b38;
        /* margin-right: 7rem; */
        text-align: center;
        margin-bottom: 1rem;
        
    }
    
    .button{
    text-align: center;
    
    outline:none;
    border: none;
    color: black;
    border-radius: 5px;
    }
    .artical-wrapper.card{
        display: flex;
        flex: content;
        width: 50%;
        height: 50%;
    
    }
    .subscribe{
        background: #eebf00;


    }
    .freshmeal{
        display: flex;
        /* flex: content; */
    } 
    .img10{
        width: 50%;
        
        margin-left:10% ;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
 .freshmeal div{
    text-align: center;
    margin-top: 5%;
 }
 .freshmeal div:last-child{
    flex:1;
 }
 .freshmeal div:first-child{
    flex:1;
 }
 
 .freshmeal h1{
    margin-bottom: 1.5rem;
    /* text-align: center; */
    margin-right: 19rem;
 }
 .freshmeal p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin-right: 10rem;
 }
 .input-wrap{
    background:var(--heaven);
    display: flex;
    padding: 0.3rem;
    /* border-radius: 4px; */
width: 60%;

 }
 .input-wrap input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
 }
 .input-wrap input:focus{
    outline: none;
 }
 .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    background:var(--primary);
    color: #fefefe;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
 }
 .input-wrap button:hover{
    background: #2d333f;
 }

 .phn{
    width: 20px;
    margin-right: 1rem;
    margin-bottom: 2rem;
 }
  .email{
    width: 20px;
    margin-right: 1rem;
    margin-bottom: 2rem;
 }
 .working{
    width: 20px;
    margin-right: 1rem;
    margin-bottom: 1rem;
 }
 .contacus{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    color: #eebf00;

 }
 .contac-info-wrapper{
    padding: 4rem 0;
    flex:1;
 }
 .map{
    flex:1;
    margin-top: 1rem;

 }
 .phn2{
    display: flex;
 }
 .email2{
    display: flex;
 }
 .work{
    display: flex;
 }
 .ups{
    display: flex;
    flex-direction: column;
 }
 .contac-info{
    display: flex;
    flex-direction: column;
 }
.contac-info h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.25rem;
}
footer{
    background:#2d333f;
    padding: 4rem 0;
}
footer .footer{
    display: flex;
    color: #f0f0f0;
}
footer .box{
    flex:1;
    margin-right: 2rem;
    text-align: center;

}
footer .instagram-api img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.post-wrapper div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom:10px;
}.box ul{
    list-style-type: none;
}
.box  ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.box  ul li a:hover{
    color:#eebf00; 

}
.box h3{
    border-bottom: solid #eebf00;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.box p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
.box ul li{
    margin-bottom: 1rem;
}
.box:nth-child(3) div{
    display: flex;
    justify-content: center;
}
.box:nth-child(3) img{
    margin-right: 1rem;
}

.box:nth-child(3){
    text-align: center;
    margin-bottom: 1.5rem;
}
.fbook{
    width: 20px;
}
.copyright{
    padding: 1rem 0;
    background: #232b38;
    color:#fefefe ;
    text-align: center;
    font-size: 1rem;
}
.copyright a{
    color: #eebf00;
    text-decoration: none;
}